@media screen and (max-width: 430px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    :root{
        --cor_fundo: #F8F8FF;
    }
    body{
        background-color: var(--cor_fundo);
    }
    #pesq_carrinho{
        height: 7vh;
        display: flex;
        align-items:center;
        gap: 10px;
        margin-top: 10px;
    }
    #pesq{
        width: 300px;
        height: 35px;
        margin-left: 24px;
        background-image: url("./asets/Pesq.png");
        background-size: 350px 80px;
        background-position: center;
    }
    #carrinho{
        width: 40px;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
        background-image: url("./asets/Carri.png");
        background-size: 78px 78px;
        background-position: center;
        
    }
    #catego{
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #p_categoria{
        margin-left: 24px;
        margin-bottom: 20px ;
    }
    .img_categorias{
        border: 1px solid rgb(0, 0, 0);
        height: 60px;
        width: 60px;
        margin-top: -15px;
        border-radius: 5px;
        background-color: white;

    }
    #p_ofertas{
        margin-left: 24px;
        font-size: larger;
        margin-top: 10px;
        margin-bottom: 3px;
    }
    #ofertas{
        height: 25vh;
        display: flex;
    }
    #banner{
        border: 1px solid black;
        width: 100%;
        margin-top: 5px;
        display: flex;
        justify-content:center ;
        align-items: center;
        margin: 3px;
        border-radius: 5px;
        background-color: white;
    }
    hr{
        margin-top: 20px;
        width: 95%;
        margin-left: 10px;
        margin-bottom: 20px;
    }
    #resto{
        height: auto;
    }
    .padrao{
        height:180px;
        width: 100%;
        display: flex;
        flex-direction:row;
        align-items: center;
        position: relative;

    }
    #resto p{
    font-size: large;
    margin-bottom:-10px;
    margin-left: 24px;

    }
    .img_padrao{
        height: 21vh;
        width: 95%;
        border: 1px solid rgb(0, 0, 0);
        margin-left: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: white;
        z-index: 0;
        
    }
    .seta{
        background-image: url("./asets/seta.png");
        background-position: center;
        background-size: 75px 75px;
        height: 40px;
        width: 40px;
        position: absolute;
        right: 10px;
    }
    #parceiro{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #parceiro button{
        margin-bottom: 15px;
        border-radius: 5px;
        background-color: white;
        width: 60vw;
        height: 4vh;
    }



}
















































