@media screen and (max-width:400px){
    *{
        margin: 0;
        border: 0;
        box-sizing: border-box;
    }
    :root {
        --cor_fundo: #F6F9F9;
        --borda_produtos: #D5D5D5;
        --fundo_produtos: #FFFFFF;
        --fundo_cupom: #12B76A;
        --azul: #08068D;
        --escrita_prod: #757575;
        --fundo_footer: #9c9c9c;
        --fonte_cinza: #536679;
    }

    /* HEADER */
    header {
        width: 100%;
        height: 18vh;
        background-color:var(--azul);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteiener-top {
        width: 100%;
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-e-logo {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 20px;
        width: 45%;
        height: 100%;
    }

    .conteiner-icones {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 20px;
        width: 45%;
        height: 100%;
    }

    /* MAIN */
    main {
        height: 100vh;
        background-color: var(--cor_fundo);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 20px;
    }
    h1{
        font-family: 'Poppins';
        font-weight: 400;
        position: relative;
        top: 10px;
        left: 15px;
    }
    #usuario{
        width: 100%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        position: relative;
        top: 10px;
    }

    #usuario img{
        height: 84px;
        width: 88px;

    }
    #nome_usuario{
        width: 50vw;
        height:9vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        right: 30px;
    }
    #nome_usuario h3{
        font-family: "Poppins";
        font-weight: 500;
    }
    }
    #nome_usuario p{
        font-family: "Poppins";
        font-size: small;
        font-weight: 600;
        color: var(--fonte_cinza);
    }
    #nome_usuario a{
        font-family: "Poppins";
        font-size: small;
        font-weight: 500;
        color: var(--azul);
        text-decoration: none;
    }
        
    /* FOOTER */
    .site-footer {
        text-align: center;
        padding: 20px 10px;
        color: var(--fundo_footer);
        font-size: 13px;
    }















































